@using IdentityServer.Constants
@using Microsoft.AspNetCore.Mvc.ModelBinding

@if(ViewContext.ModelState.TryGetValue(ControllerConstants.ERROR, out ModelStateEntry modelStateEntry))
{
    <div class="alert alert-danger" role="alert">
        An error occurs. Please try again later or contact the administrator.
    </div>
}