@using IdentityServer.Constants
@using Microsoft.AspNetCore.Mvc.ModelBinding

@if(ViewContext.ModelState.TryGetValue(ControllerConstants.ERROR, out ModelStateEntry modelStateEntry))
{
    <div class="alert alert-danger" role="alert">
        Ocorreu um erro na operação. Tente novamente mais tarde ou entre em contato com o administrador do sistema.
    </div>
}