<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Finance Identity Server</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/variables.css" />
    <link rel="stylesheet" href="~/css/customBootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div id="app">
        <header class="header">
            <nav class="navbar bg-primary border-bottom box-shadow">
                <a class="navbar-brand text-muted" asp-area="" asp-controller="Home" asp-action="Index">MyFinance Identity</a>
            </nav>
        </header>
        
        <div class="page">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="footer">
            <div class="container-fluid">
                &copy; 2020 - MVCClient - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
