@using IdentityServer4.Extensions

@{
    string name = null;
    if (!true.Equals(ViewData["signed-out"]))
    {
        name = Context.User?.GetDisplayName();
    }
}

<div>
    @if(string.IsNullOrWhiteSpace(name))
    {
        <p>Login</p>
    }
</div>