body {
  height: 100vh !important;
  margin: 0px !important;
}

#app {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 1fr 40px;
  /* background-image: linear-gradient(to right, #E0EAFC, #CFDEF3, #E0EAFC); */
  grid-template-areas: 
      "header"
      "page"
      "footer";
}

header.header {
  grid-area: header;
  min-height: 60px;
}

.page {
  grid-area: page;
}

footer.footer {
  grid-area: footer;
}

main {
  height: 100%;
}