body {
  height: 100vh !important;
  margin: 0px !important;
}

#app {
  height: 100%;
}

.content {
  grid-area: content;
  overflow-x: auto;
}

footer {
  grid-area: footer;
}

main {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.85fr;
  grid-template-areas: "content" "footer";
}